h1{
    background-color: red;
    color: white;
    text-align: center;   
}
h2{
    background-color: lightgray;
    padding: 5px;
    border-radius: 5px;
}
body{
    background-image: url('https://t4.ftcdn.net/jpg/01/31/15/51/240_F_131155172_4ZVdaT7YF5yJHqircjy59DDxV6aWFds9.jpg');
    background-size: cover;
    background-attachment: fixed; 
      
}
ol{
    padding: 5;
    border-radius: 5px;
    background-color: lightgreen;
    border-style: double;
}
table{
    background-color: lightpink;
    border-collapse: collapse;
    border: 5px solid black;
    border-style: double;
}
th,td{
    border: 2px solid black;
    padding: 10px;
}


